registry=https://registry.npmjs.org/
@trialspark:registry=https://trialspark-622627819221.d.codeartifact.us-east-1.amazonaws.com/npm/dist/
//trialspark-622627819221.d.codeartifact.us-east-1.amazonaws.com/npm/dist/:_authToken=${AWS_CODEARTIFACT_AUTH_TOKEN}
//trialspark-622627819221.d.codeartifact.us-east-1.amazonaws.com/npm/dist/:always-auth=true
